@import "../../theme/theme.scss";

.TransactionForm {
  margin: 5px;
  width: 50%;
  height: 100%;

  @include low-res-mixin {
    width: 100%;
  }
  @include medium-res-mixin {
    width: 100%;
  }
}
