@import "../../theme/theme.scss";

.AppLogo {
  text-align: center;
  position: relative;
  @include low-res-mixin {
    width: 50vw;
  }
  @include medium-res-mixin {
    width: 40vw;
  }
  @include high-res-mixin {
    width: 30vw;
  }

  &__image {
    width: 100%;
  }
}