@import "../../theme/theme.scss";

.Footer {
  margin-top: 5px;
  width: 100%;
  height: 5vh;
  z-index: 1000;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: $panelColor;
  &__link {
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}
